.Card {
  border: 2px solid black;
  margin: 16px auto;
  transition: transform 0.2s ease-in-out;
  margin: 16px;
  text-align: center;
}

.Card:hover {
  transform: scale(1.03); /* efecto suave al pasar el mouse */
}

.Card-img-top {
  border-bottom: 2px solid black; /* Borde entre imagen y contenido */
}
